out
node_modules
.vscode-test/
*.vsix
.wdio-vscode-service
*.map
test/**/*.js
wdio.conf.js
wdio.conf.js.map
.wireit

dist

packages/extension/assets

.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
