/*
platform classes: win32 | linux | darwin
*/

body {
  background-color: var(--vscode-background);
  color: var(--vscode-foreground);
}

.darwin {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.darwin:lang(zh-Hans) {
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
    sans-serif;
}

.darwin:lang(zh-Hant) {
  font-family: -apple-system, BlinkMacSystemFont, PingFang TC, sans-serif;
}

.darwin:lang(ja) {
  font-family: -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro,
    sans-serif;
}

.darwin:lang(ko) {
  font-family: -apple-system, BlinkMacSystemFont, Nanum Gothic,
    Apple SD Gothic Neo, AppleGothic, sans-serif;
}

.win32 {
  font-family: Segoe WPC, Segoe UI, sans-serif;
}

.win32:lang(zh-Hans) {
  font-family: Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif;
}

.win32:lang(zh-Hant) {
  font-family: Segoe WPC, Segoe UI, Microsoft Jhenghei, sans-serif;
}

.win32:lang(ja) {
  font-family: Segoe WPC, Segoe UI, Meiryo, sans-serif;
}

.win32:lang(ko) {
  font-family: Segoe WPC, Segoe UI, Malgun Gothic, Dotom, sans-serif;
}

.linux {
  font-family: Ubuntu, Droid Sans, sans-serif;
}

.linux:lang(zh-Hans) {
  font-family: Ubuntu, Droid Sans, Source Han Sans SC, Source Han Sans CN,
    Source Han Sans, sans-serif;
}

.linux:lang(zh-Hant) {
  font-family: Ubuntu, Droid Sans, Source Han Sans TC, Source Han Sans TW,
    Source Han Sans, sans-serif;
}

.linux:lang(ja) {
  font-family: Ubuntu, Droid Sans, Source Han Sans J, Source Han Sans JP,
    Source Han Sans, sans-serif;
}

.linux:lang(ko) {
  font-family: Ubuntu, Droid Sans, Source Han Sans K, Source Han Sans JR,
    Source Han Sans, UnDotum, FBaekmuk Gulim, sans-serif;
}

.darwin {
  --cme-monospace-font: Monaco, Menlo, Inconsolata, 'Courier New', monospace;
}

.win32 {
  --cme-monospace-font: Consolas, Inconsolata, 'Courier New', monospace;
}

.linux {
  --cme-monospace-font: 'Droid Sans Mono', Inconsolata, 'Courier New',
    monospace, 'Droid Sans Fallback';
}

.content {
  font-size: 13px;
  margin: 0 auto;
  padding-top: 10px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 100%;
}

.section {
  margin: 0 auto 30px;
  max-width: 763px;
  width: 100%;
}

@media (min-width: 900px) {
  .section--commit-message {
    padding-right: 5px;
  }

  .section--recent-commits {
    padding-left: 5px;
  }
}

.section-title {
  color: var(--vscode-settings-headerForeground);
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin: 7px 0 14px;
  user-select: none;
}

.description {
  color: var(--vscode-descriptionForeground);
  margin: 0 0 9px;
}

.message-box {
  background-color: var(--vscode-input-background);
  box-sizing: border-box;
  color: var(--vscode-input-foreground);
  font-family: inherit;
  height: 240px;
  padding: 3px;
  resize: none;
  width: 100%;
}

body.vscode-light .message-box {
  border-color: rgba(0, 0, 0, 0.19);
}

body.vscode-dark .message-box {
  border-color: rgba(255, 255, 255, 0.19);
}

body.vscode-high-contrast .message-box {
  border-color: #fff;
}

.buttons {
  margin-top: 9px;
}

.button {
  background-color: var(--vscode-button-background);
  border: 0;
  box-sizing: border-box;
  color: var(--vscode-button-foreground);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.4;
  outline-offset: 2px !important;
  padding: 2px 14px;
  text-align: center;
  width: auto;
}

.recent-commits-wrapper {
  height: 240px;
  min-height: 32px;
  overflow: auto;
  width: 100%;
}

.recent-commits-wrapper__loading {
  align-items: center;
  display: none;
  height: 32px;
  justify-content: center;
  width: 100%;
}

.recent-commits-wrapper.is-loading .recent-commits-wrapper__loading {
  display: flex;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.recent-commits-wrapper__loading-icon {
  animation: spin 600ms linear infinite;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: none;
  height: 16px;
  width: 16px;
}

.recent-commits-wrapper.is-loading .recent-commits-wrapper__loading-icon {
  display: block;
}

body.vscode-dark .recent-commits-wrapper__loading-icon,
body.vscode-high-contrast .recent-commits-wrapper__loading-icon {
  background-image: url(../images/icons/dark/loading.svg);
}

body.vscode-light .recent-commits-wrapper__loading-icon {
  background-image: url(../images/icons/light/loading.svg);
}

.recent-commits-wrapper.is-loading .recent-commits-wrapper__commits {
  display: none;
}

.recent-commits-wrapper__commits {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
